<% layout('layouts/boilerplate') %>
<div id="map" class="cluster-map"></div>
<h1>All Campgrounds</h1>
<% for (let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if (campground.images.length > 0) { %>
                    <img class="img-fluid" src="<%= campground.images[0].url %>" alt="">
                <% } else { %>
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1601134917279-ef70a0a90f18?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MzEyNDh8MHwxfHNlYXJjaHw5fHxjYW1waW5nfGVufDB8MHx8fDE3NDQzNDY4OTd8MA&ixlib=rb-4.0.3&q=80&w=1080" alt="">
                <% } %>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary"
                       href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>
<script>
    const campgroundsDataJson = <%- JSON.stringify(campgrounds) %>;
</script>
<script src="/javascripts/clusterMap.js"></script>